@page "/fetchdata"
@inject HttpClient Http
@using WebApplication1.Pages.Models
@using System.Net.Http
@using System.Net.Http.Headers

<h1>Octocat List</h1>

<p>This component demonstrates fetching data from an api and displaying it.</p>

@if (Octocats == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th class="text-limit">Name</th>
                <th>Image</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Octocats.Data)
            {
                <tr>
                    <td>@cat.Number</td>
                    <td class="text-limit">@cat.Name</td>
                    <td><img class="cat-image-size" src="@cat.Image"/></td>
                    <td><a href="@cat.Link">@cat.Link</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    public OctocatData Octocats {get;set;} = new OctocatData();

    protected override async Task OnInitAsync()
    {
        Octocats = await Http.GetJsonAsync<OctocatData>("https://sdg-octodex.herokuapp.com/");
    }
}
